# Genrated with Fscript

[Unit]
Description=Mount dawn
ConditionPathExists=/home/pim/Hosts/dawn

[Mount]
What=pim@local.pimzero.com:/home/pim/
Type=fuse.sshfs
Options=noauto,user,idmap=user,allow_other,_netdev
Where=/home/pim/Hosts/dawn
