#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Mount dusk with sshfs
ConditionPathExists=/home/pim/Hosts/dusk

[Mount]
What=pim@lse:/home/pim
Where=/home/pim/Hosts/dusk
Type=fuse.sshfs
Environment=SSH_AUTH_SOCK=/run/user/1000/gnupg/S.gpg-agent.ssh
Options=noauto,user,idmap=user,allow_other,Port=42316,_netdev
